[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gghexsize"]
	path = gghexsize
	url = https://github.com/hrryt/gghexsize
[submodule "gglinedensity"]
	path = gglinedensity
	url = https://github.com/hrryt/gglinedensity
[submodule "ggtreebar"]
	path = ggtreebar
	url = https://github.com/hrryt/ggtreebar
[submodule "minesweeper"]
	path = minesweeper
	url = https://github.com/hrryt/minesweeper
