[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "minesweeper"]
	path = minesweeper
	url = https://github.com/hrryt/minesweeper
